/* Style for the form container */
form {
    background: hsl(199, 100%, 50%);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for input fields */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #11c5e0;
    border-radius: 5px;

}

/* Style for the "more activities" button */
button {
    padding: 10px 20px;
    background-color: hsl(211, 88%, 16%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the "Trips" button */
button.Trips {
    background-color: #28a745;
}

/* Center the buttons */
button[type="submit"],
button.Trips {
    display: block;
    margin: 20px auto;
}